{% extends 'NewsShowBundle:Default:index.html.twig' %}

{% block mainContent %}
    <div id="NewsBox">
        {% for newsSumItem in newsSumItems %}

            <div class="newsSummaryItem">
                <img class="newsImg" src="{{ asset( newsSumItem.ImgSrc ) }}"/>
                <div class="newsTitle"> {{ newsSumItem.title }}</div>
                <div class="newsSum"> {{ newsSumItem.summary }} </div>
                <div class="newsAuthor"> {{ newsSumItem.author }} </div>
                <div class="newsTime"> {{ newsSumItem.time }} </div>
                <div class="newsGroup"> Category: <span class="newsGroupName"> {{ newsSumItem.groupName }} </span> </div>
            </div>


        {% endfor %}

        <div style="clear:both;"> </div>
    </div>

    <script type="text/javascript">

        $('#NewsBox').masonry({
            itemSelector: '.newsSummaryItem',
            columnWidth: 400
        });

        $('#navMain').css('background-color','#BF9004');
    </script>
{% endblock %}
